.i-arrow {
    background-image: url("../../assets/imgs/flecha-derecha.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;

    &--active {
        background-image: url("../../assets/imgs/flecha-abajo.svg");
    }
}