.i-fire {
    background-image: url("../../assets/imgs/flame.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    // box-shadow: 0 2px 2px var(--color-shadow) ;
}