.i-house {
    background-image: url("../../assets/imgs/casa.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 28px;
    &--active {
        background-image: url("../../assets/imgs/casa-activa.svg");
    }
}
