.i-location {
    background-image: url("../../assets/imgs/location.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-left: 8px;
    margin-right: -8px;
}