.i-paypal {
    background-image: url("../../assets/imgs/paypal.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
} 