.i-tick {
    background-image: url("../../assets/imgs/tick.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
