.i-world {
    background-image: url("../../assets/imgs/tierra.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    box-shadow: 0 2px 2px var(--color-shadow) ;
}