.b-btn {
    width: 180px;
    height: 40px;
    font-size: 16px;
    color: var(--color-green-light);
    background-color: var(--color-white);
    border-radius: 20px !important;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.288);
    margin: 0 auto;
    text-align: center;
    
    &--dark {
        color: var(--color-white);
        background-color: var(--color-green-dark);
    }
    &--light {
        color: var(--color-white);
        background-color: var(--color-green-light);
    }
    &--big {
        height: 80px;
    }
    &--bigWidth {
        width: 240px;
    }
    &--small {
        width: 28px;
        height: 8px;
    }
    &--little {
        width: 40px;
        height: 10px;
        margin: 0;
    }

    &--paypal{
        background-size: 100px ;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../assets/imgs/paypal-text.svg');
    
    }
}
