.b-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 0;

    &__box {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .b-checkbox__check {
        background-color: var(--color-green-light);
      }

    

    }

    &__check {
      
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 5px;
      border: 2px solid var(--color-green-light);
      display: inline-block;
      cursor: pointer;
      margin-right: 5px;
   

      &:after {
        
        opacity: 0;
        position: absolute;
        border-radius: 2px;
        width: 100%;
        height: 2px;
        background-color: var(--color-green-light);
        left: 50%;
        top: 50%;
      }

    }
  }