.b-input{

    background-color: var(--color-green-dark);
    color: var(--color-white);
    border: 2px solid var(--color-green-light);
    border-radius: 7px;
    height: 3vh;

    &--small{
        width: 30%;
    }
    
   /*  &--smallWhite{
        width: 40%;
        background-color: var(--color-white);
        color: var(--color-green-dark);
    } */

    &--medium{
        width: 40%;
    }

   /*  &--mediumWhite{
        width: 100%;
        background-color: var(--color-white);
        color: var(--color-green-dark);
    } */

    &--large{
        width: 100%;
    }

   /*  &--largeWhite{
        width: 100%;
        background-color: var(--color-white);
        color: var(--color-green-dark);
    } */

    &--white{
        background-color: var(--color-white);
        color: var(--color-green-dark);
    }



    &--head{
        width: 90%;
        height: 6vh;
        font-size: 1.8rem;
        text-align: center;
    }

}

.b-input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.b-calendar{
    & .p-inputtext.p-component{
        background-color: var(--color-green-dark);
        color: var(--color-white);
        border: 2px solid var(--color-green-light);
        border-radius: 7px;
        height: 3vh;
        width: 105px;
        font-size: 14px;
        padding: 0;
    }

    &--white{
        & .p-inputtext.p-component{
            background-color: var(--color-white);
            color: var(--color-green-dark);
            border: 2px solid var(--color-green-light);
            border-radius: 7px;
            height: 3vh;
            width: 105px;
            font-size: 14px;
            padding: 0;
        }
    }
}

.p-inputtext.p-component::placeholder{
        color: rgba(0, 0, 0, 0.5);
    }


