html, body {
    margin: 0;
    height: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color:lightblue;
    justify-content: space-between;
}

.navbar:hover {
    background-color:none ;
}

.navbar__logo {
    display: flex;
    background-color: red;
    flex-direction:row ;
    width: 179px;
    height: 38px;
}

.navbar__info {
    display: flex;
    flex-direction: row;
}


.navbar__info__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar__info__list--ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color:white;
}

.navbar__info__list--ul--li {
    margin: 0 35px;
}


.navbar__info__button{
    margin: 4px 35px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background:rgb(254, 45, 160);
    padding: 2px 4.6px;
}

.navbar__info__button--a {
    margin: 12px 45px;
    color: white;
    text-decoration: none;
}