.c-popUp {
    &Background {
        background-color: #358882bb;
        position: fixed;
        margin: auto;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9999;
    }
    &Close {
        position: fixed;
        top: 140px;
        right: calc(50% - 162px);
    }
    position: fixed;
    right: calc(50% - 162px);
    top: 200px;
    width: 328px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 20px 0;
    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--color-green-dark);
        margin-bottom: 20px;
    }
    &__text {
        width: 70%;
        color: var(--color-green-dark);
        font-size: 22px;
        font-weight: normal;
    }
    &__image {
        width: 270px;
        height: 140px;
        background-color: blue;
        margin: 0 auto;
        border-radius: 10px;
    }
    &__uList {
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__list {
        width: 70%;
        margin: 2.5px auto;
    }
    &__list span {
        color: var(--color-green-dark);
    }
    &__btn {
        width: 70%;
        margin: 0 auto;
        display: flex;
        text-decoration: none;
    }
}
