.c-menu{
    display: flex;
    justify-content: space-around;
    position:fixed; 
    bottom:0px; 
    height:52px; 
    width: 100%;
    left:0px; 
    right:0px; 
    padding: 10px;
    overflow:hidden;
    background-color: var(--color-green-light);
}