.c-accordion {
    width: 328px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--color-white);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    &__title {
        margin: 5px auto;
        font-size: 18px;
        color: var(--color-green-light);
        font-weight: bold;
        text-align: center;
    }
    &__text {
        text-align: center;
        width: 80%;
        margin: 30px auto;
        font-size: 12px;
        color: var(--color-green-light);
        font-weight: normal;
        &--bigger {
            font-size: 16px;
            width: 70%;
        }
    }
    &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.simulacion_img {
    width: 100%;
    background-color: blue;
    height: 200px;
}
