.c-selector{
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-white);

    &__title{
        padding: 0;
        margin: 10px auto;
        width: 80%;
        text-align: center;
        font-weight: bolder;
        font-size: 21px;
    }
    &Back{
        font-size: 18px;
        position: absolute;
        top: 45px;
        left: 45px;
        height: 30px;
    }
    &Icon{
        position: absolute;
        top: 40px;
        left: 20px;
        height: 30px;
    }
    &__button{
        width: 240px;
        margin: auto;
        display: flex;
        text-decoration: none;
    }

}
.imageSimulator{
    width: 300px;
    height:150px;
    background-color: blue;
    margin: 20px auto;
    border-radius: 20px;
}